In [1]:
#%run Utils_PseudoPrices.ipynb
import yfinance as yf
import investpy
#%run Utils_DailyData.ipynb
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import metrics
import scipy.stats as st

In [2]:
#Data retrieval for OHLCV
def get_daily_ohlcv2(tickers,years=4):
    outo=[]
    outh=[]
    outl=[]
    outc=[]
    outv=[]
    oute=[]
    outdf=[]
    months=str(years*12)
    for ticker in tickers:
        tick = yf.Ticker(ticker)
        #df=tick.history(start="2017-01-01",  end="2021-07-04")
        df=tick.history(period=months+"mo")
        df=df.reset_index()
        df.dropna(inplace=True)
        outdf.append(df)
    #return np.asarray(outo),np.asarray(outh),np.asarray(outl),np.asarray(outc),np.asarray(outv),np.asarray(oute)
    return outdf
def addNS(ticks):
    return [tick+'.NS' for tick in ticks]
s = np.random.normal(0, 1, 1000)
s2 = np.random.normal(0, 1, 1000)

#Shuffle functions
def sh(a):
    a2=a.copy()
    np.random.shuffle(a2)
    return a2

In [3]:
#SP 500 tickers
spytickers= ["SPY","A","AAL","AAP","AAPL","ABBV","ABC","ABMD","ABT","ACN","ADBE","ADI","ADM","ADP","ADS","ADSK","AEE","AEP","AES","AFL","AGN","AIG","AIV","AIZ","AJG","AKAM","ALB","ALGN","ALK","ALL","ALLE","ALXN","AMAT","AMCR","AMD","AME","AMG","AMGN","AMP","AMT","AMZN","ANET","ANSS","ANTM","AON","AOS","APA","APD","APH","APTV","ARE","ARNC","ATO","ATVI","AVB","AVGO","AVY","AWK","AXP","AZO","BA","BAC","BAX","BBY","BDX","BEN","BIIB","BK","BKNG","BKR","BLK","BLL","BMY","BR","BSX","BWA","BXP","C","CAG","CAH","CAT","CB","CBOE","CBRE","CCI","CCL","CDNS","CDW","CE","CERN","CF","CFG","CHD","CHRW","CHTR","CI","CINF","CL","CLX","CMA","CMCSA","CME","CMG","CMI","CMS","CNC","CNP","COF","COG","COO","COP","COST","COTY","CPB","CPRI","CPRT","CRM","CSCO","CSX","CTAS","CTL","CTSH","CTVA","CTXS","CVS","CVX","CXO","D","DAL","DD","DE","DFS","DG","DGX","DHI","DHR","DIS","DISCA","DISCK","DISH","DLR","DLTR","DOV","DOW","DRE","DRI","DTE","DUK","DVA","DVN","DXC","EA","EBAY","ECL","ED","EFX","EIX","EL","EMN","EMR","EOG","EQIX","EQR","ES","ESS","ETFC","ETN","ETR","EVRG","EW","EXC","EXPD","EXPE","EXR","F","FANG","FAST","FB","FBHS","FCX","FDX","FE","FFIV","FIS","FISV","FITB","FL","FLIR","FLS","FLT","FMC","FOX","FOXA","FRC","FRT","FTI","FTNT","FTV","GD","GE","GILD","GIS","GL","GLW","GM","GOOG","GOOGL","GPC","GPN","GPS","GRMN","GS","GWW","HAL","HAS","HBAN","HBI","HCA","PEAK","HD","HES","HFC","HIG","HII","HLT","HOG","HOLX","HON","HP","HPE","HPQ","HRB","HRL","HSIC","HST","HSY","HUM","IBM","ICE","IDXX","IEX","IFF","ILMN","INCY","INFO","INTC","INTU","IP","IPG","IPGP","IQV","IR","IRM","ISRG","IT","ITW","IVZ","JBHT","JCI","J","JEF","JKHY","JNJ","JNPR","JPM","JWN","K","KEY","KEYS","KHC","KIM","KLAC","KMB","KMI","KMX","KO","KR","KSS","KSU","L","LB","LDOS","LEG","LEN","LH","LHX","LIN","LKQ","LLY","LMT","LNC","LNT","LOW","LRCX","LUV","LVS","LW","LYB","M","MA","MAA","MAC","MAR","MAS","MCD","MCHP","MCK","MCO","MDLZ","MDT","MET","MGM","MHK","MKC","MKTX","MLM","MMC","MMM","MNST","MO","MOS","MPC","MRK","MRO","MS","MSCI","MSFT","MSI","MTB","MTD","MU","MXIM","MYL","NBL","NCLH","NDAQ","NEE","NEM","NFLX","NI","NKE","NKTR","NLOK","NLSN","NOC","NOV","NRG","NSC","NTAP","NTRS","NUE","NVDA","NVR","NWL","NWS","NWSA","O","OKE","OMC","ORCL","ORLY","OXY","PAYX","PBCT","PCAR","PEAK","PEG","PEP","PFE","PFG","PG","PGR","PH","PHM","PKG","PKI","PLD","PM","PNC","PNR","PNW","PPG","PPL","PRGO","PRU","PSA","PSX","PVH","PWR","PXD","PYPL","QCOM","QRVO","RCL","RE","REG","REGN","RF","RHI","RJF","RL","RMD","ROK","ROL","ROP","ROST","RSG","RTN","SBAC","SBUX","SCHW","SEE","SHW","SIVB","SJM","SLB","SLG","SNA","SNPS","SO","SPG","SPGI","SRE","STT","STX","STZ","SWK","SWKS","SYF","SYK","SYY","T","TAP","TDG","TEL","TFC","TFX","TGT","TIF","TJX","TMO","TMUS","TPR","TRIP","TROW","TRV","TSCO","TSN","TTWO","TWTR","TXN","TXT","UA","UAA","UAL","UDR","UHS","ULTA","UNH","UNM","UNP","UPS","URI","USB","UTX","V","VAR","VFC","VIAC","VLO","VMC","VNO","VRSK","VRSN","VRTX","VTR","VZ","WAB","WAT","WBA","WDC","WEC","WELL","WFC","WHR","WLTW","WM","WMB","WMT","WRK","WU","WY","WYNN","XEC","XEL","XLNX","XOM","XRAY","XRX","XYL","YUM","ZBH","ZION","ZTS"];

In [4]:
%%time
#RETRIEVE OHLCV DATA FOR SP 500; should take under 4.5 minutes
#4 signifies the time in years
spy_data=get_daily_ohlcv2(spytickers[:],4)

- AGN: No data found, symbol may be delisted
- CTL: No data found, symbol may be delisted
- CXO: No data found, symbol may be delisted
- ETFC: No data found, symbol may be delisted
- MYL: No data found, symbol may be delisted
- NBL: No data found, symbol may be delisted
- RTN: No data found, symbol may be delisted
- TIF: No data found, symbol may be delisted
- UTX: No data found, symbol may be delisted
- VAR: No data found, symbol may be delisted
Wall time: 6min 4s

In [5]:
sector_names=["S5COND","S5CONS","S5HLTH","S5INDU","S5INFT","S5MATR","S5REAS","S5TELS","S5UTIL","SPF","SPN"]
#Sector ETF tickers
secetf_ticks=['XLY','XLP','XLV','XLI','XLK','XLB','XLRE','XLC','XLU','XLF','XLE']
#SECTOR TICKERS
sec=[[] for i in range(len(sector_names))]
sec[0]=["AAP","AMZN","APTV","AZO","BBY","BKNG","BWA","CCL","CHTR","CMCSA","CMG","DG","DHI","DIS","DISCA","DISCK","DISH","DLTR","DRI","EXPE","F","FL","FOX","FOXA","GM","GPC","GPS","GRMN","GT","HAS","HBI","HD","HLT","HOG","HRB","IPG","JWN","KMX","KSS","LB","LEG","LEN","LKQ","LOW","M","MAR","MAT","MCD","MGM","MHK","NCLH","NFLX","NKE","NWS","NWSA","OMC","ORLY","PHM","PVH","RCL","RL","ROST","SBUX","TGT","TIF","TJX","TPR","TRIP","TSCO","UA","UAA","ULTA","VFC","WHR","WYNN","YUM"]
sec[1]=["ADM","BF.B","CAG","CHD","CL","CLX","COST","COTY","CPB","EL","GIS","HRL","HSY","KKHC","KMB","KO","KR","MDLZ","MKC","MNST","MO","PEP","PG","PM","SJM","STZ","SYY","TAP","TSN","WBA","WMT"]
sec[2]=["A","ABBV","ABC","ABMD","ABT","AGN","ALGN","ALXN","AMGN","ANTM","BAX","BDX","BIIB","BMY","BSX","CAH","CERN","CI","CNC","COO","CVS","DGX","DHR","DVA","EW","GILD","HCA","HOLX","HSIC","HUM","IDXX","ILMN","INCY","IQV","ISRG","JNJ","LH","LLY","MCK","MDT","MRK","MTD","MYL","NKTR","PFE","PKI","PRGO","REGN","RMD","SYK","TMO","UHS","UNH","VAR","VRTX","WAT","XRAY","ZBH","ZTS"]
sec[3]=["AAL","ALK","ALLE","AME","AOS","ARNC","BA","CAT","CHRW","CMI","CPRT","CSX","CTAS","DAL","DE","DOV","EFX","EMR","ETN","EXPD","FAST","FBHS","FDX","FLR","FLS","FTV","GD","GE","GWW","HII","HON","IR","ITW","JBHT","JCI","KSU","LMT","LUV","MAS","MMM","NLSN","NOC","NSC","PCAR","PH","PNR","PWR","RHI","ROK","ROP","RSG","RTN","SNA","SRCL","SWK","TDG","TXT","UNP","UPS","URI","UTXVRSK","WM","XYL"]
sec[4]=["AAPL","ACN","ADBE","ADI","ADP","ADS","ADSK","AKAM","AMAT","AMD","ANSS","APH","ATVI","AVGO","BR","CDNS","CRM","CSCO","CTSH","CTXS","DXC","EA","EBAY","FB","FFIV","FIS","FISV","FLIW","FLT","GLW","GOOG","GOOGL","GPN","HPE","HPQ","IBM","INTC","INTU","IPGP","IT","JNPR","KLAC","LRCX","MA","MCHP","MSFT","MSI","MU","NTAP","NVDA","ORCL","PAYX","PYPL","QCOM","QRVO","SNPS","STX","SWKS","TEL","TTWO","TWTR","TXN","V","VRSN","WDC","WU","XLNX","XRX"]
sec[5]=["ALB","APD","AVY","BLL","CF","ECL","EMN","FCX","FMC","IFF","IP","LYB","MLM","MOS","NEM","NUE","PKG","PPG","SEE","SHW","VMC","WRK"]
sec[6]=["AIV","AMT","ARE","AVB","BXP","CBRE","CCI","DLR","DRE","EQIX","EQR","ESS","EXR","FRT","HST","IRM","KIM","MAA","MAC","O","PLD","PSA","SBAC","SLG","SPG","UDR","VNO","VTR","WELL"]
sec[7]=["CTL","T","VZ"]
sec[8]=["AEE","AEP","AES","AWK","CMS","SNP","D","DTE","DUK","ED","EIX","ES","ETR","EVRG","FE","NEE","NI","NRG","PCG","PEG","PNW","PPL","SO","SRE","WEC","XEL"]
sec[9]=["AFL","AIG","AIZ","AJG","AMG","AMP","AON","AXP","BAC","BEN","BHF","BK","BLK","BRK.B","C","CB","CFG","CINF","CMA","CME","COF","DFS","ETFC","FITB","GS","HBAN","HIG","HRB","ICE","JPM","KEY","L","LNC","MCO","MET","MMC","MS","MSCI","MTB","NDAQ","NTRS","PBCT","PFG","PGR","PNC","PRU","RE","RF","SCHW","SIVB","SPGI","STT","SYF","TROW","TRV","UNM","USB","WFC","WLTW","ZION"]  
sec[10]=["APA","COG","COP","CVX","CXO","DVN","EOG","EQT","FTI","HAL","HES","HFC","HP","KMI","MPC","MRO","NOV","OKE","OXY","PSX","PXD","SLB","VLO","WMB","XEC","XOM"]

In [6]:
##############################
#Indian Tickers(top 50 most liquid stocks, NIFTY 50)
india_tickers=['ADANIPORTS.NS',
 'ASIANPAINT.NS',
 'AXISBANK.NS',
 'BAJAJ-AUTO.NS',
 'BAJFINANCE.NS',
 'BAJAJFINSV.NS',
 'BPCL.NS',
 'BHARTIARTL.NS',
 'INFRATEL.NS',
 'BRITANNIA.NS',
 'CIPLA.NS',
 'COALINDIA.NS',
 'DRREDDY.NS',
 'EICHERMOT.NS',
 'GAIL.NS',
 'GRASIM.NS',
 'HCLTECH.NS',
 'HDFCBANK.NS',
 'HDFCLIFE.NS',
 'HEROMOTOCO.NS',
 'HINDALCO.NS',
 'HINDUNILVR.NS',
 'HDFC.NS',
 'ICICIBANK.NS',
 'ITC.NS',
 'IOC.NS',
 'INDUSINDBK.NS',
 'INFY.NS',
 'JSWSTEEL.NS',
 'KOTAKBANK.NS',
 'LT.NS',
 'M&M.NS',
 'MARUTI.NS',
 'NTPC.NS',
 'NESTLEIND.NS',
 'ONGC.NS',
 'POWERGRID.NS',
 'RELIANCE.NS',
 'SHREECEM.NS',
 'SBIN.NS',
 'SUNPHARMA.NS',
 'TCS.NS',
 'TATAMOTORS.NS',
 'TATASTEEL.NS',
 'TECHM.NS',
 'TITAN.NS',
 'UPL.NS',
 'ULTRACEMCO.NS',
 'WIPRO.NS',
 'ZEEL.NS']

In [7]:
%%time
india_data=get_daily_ohlcv2(india_tickers,4)

- INFRATEL.NS: No data found, symbol may be delisted
Wall time: 23.3 s

In [16]:
# india_data[7]

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2017-06-22,328.531501,329.603521,323.841386,327.146790,6884094.0,0.0,0
1,2017-06-23,326.878785,329.246171,324.511399,327.146790,5576341.0,0.0,0
2,2017-06-27,326.074780,335.812359,326.074780,331.836914,4149019.0,0.0,0
3,2017-06-28,334.919031,340.949171,328.308194,336.973755,4132340.0,0.0,0
4,2017-06-29,337.465086,345.147942,337.420399,341.663849,4611430.0,0.0,0
...,...,...,...,...,...,...,...,...
981,2021-06-16,543.799988,543.799988,534.900024,536.750000,9860470.0,0.0,0
982,2021-06-17,539.500000,541.250000,527.049988,528.650024,10026485.0,0.0,0
983,2021-06-18,531.400024,541.900024,519.000000,538.750000,14723907.0,0.0,0
984,2021-06-21,535.000000,541.900024,533.000000,539.599976,5637000.0,0.0,0
985,2021-06-22,548.049988,549.000000,535.500000,536.400024,8942878.0,0.0,0

In [8]:
india_data[0]

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2017-06-22,362.733125,366.458480,360.282226,362.193939,1935079,0.0,0
1,2017-06-23,362.193961,363.223327,354.547137,358.272522,3011500,0.0,0
2,2017-06-27,360.674356,365.478113,358.272493,360.478302,2780694,0.0,0
3,2017-06-28,361.164522,362.389972,355.919592,357.341125,2394375,0.0,0
4,2017-06-29,359.743019,361.458648,355.233358,357.341125,3343365,0.0,0
...,...,...,...,...,...,...,...,...
980,2021-06-16,755.000000,755.000000,697.799988,706.700012,29440056,0.0,0
981,2021-06-17,683.000000,704.650024,638.349976,646.900024,70812142,0.0,0
982,2021-06-18,643.200012,704.599976,638.099976,694.349976,76266975,0.0,0
983,2021-06-21,692.000000,744.650024,685.099976,731.049988,51759617,0.0,0
984,2021-06-22,740.000000,761.650024,738.000000,742.900024,35588806,0.0,0

In [9]:
####################################
#ADRs traded on the US exchanges

In [10]:
canada_adrs=['PLYZ',
 'KATX',
 'SNDL',
 'BB',
 'GRSO',
 'NOHO',
 'LATF',
 'FDFT',
 'ETEK',
 'TLRY',
 'MNMD',
 'AVVH',
 'ANY',
 'TWOH',
 'MUX',
 'APTO',
 'NOUV',
 'GOLD',
 'ACST',
 'CVE']

In [11]:
australia_adrs=['PALAF',
 'BHP',
 'IMMP',
 'BNNLF',
 'GDLNF',
 'IBGR',
 'DYLLF',
 'PPCB',
 'MESO',
 'GENE',
 'BHPLF',
 'WOPEY',
 'ARTTF',
 'PLL',
 'IMTE',
 'OCANF',
 'JRVMF',
 'WBK',
 'ATHE',
 'BNTC']

In [12]:
asia_adrs=['TAK',
 'MUFG',
 'HMC',
 'SMFG',
 'NTDOY',
 'SONY',
 'MRM',
 'PCRFY',
 'SFTBY',
 'TM',
 'NMR',
 'FANUY',
 'KAOOY',
 'MFG',
 'CAJ',
 'KMTUY',
 'MRAAY',
 'SE',
 'FLEX',
 'TRIT',
 'MAXN',
 'KLIC',
 'WVE',
 'ASLN',
 'CPNG',
 'KT',
 'LPL',
 'SKM',
 'KB',
 'PKX',
 'GMEV',
 'MDCE',
 'FUTU',
 'MLCO',
 'BRNE',
 'ABQQ',
 'LGHL',
 'CO',
 'EQOS',
 'TKAT',
 'BTWN',
 'CLWT',
 'GRNQ',
 'AAGIY',
 'ICLK',
 'SPI',
 'PV_u',
 'LTSC',
 'TTNDY',
 'AEHL',
 'TSM',
 'UMC',
 'HIMX',
 'ASX',
 'LEDS',
 'SIMO',
 'AUOTY']

In [13]:
eu_adrs=['DANOY',
 'CSTM',
 'ORAN',
 'SNY',
 'SQNS',
 'MGDDY',
 'SBGSY',
 'TLND',
 'BNPQY',
 'CODYY',
 'CLLS',
 'PPRUY',
 'CRTO',
 'PONGF',
 'ALSMY',
 'LVMUY',
 'SCGLY',
 'ING',
 'AEG',
 'PHG',
 'TRVG',
 'ASML',
 'ARGX',
 'ADYEY',
 'EADSY',
 'KKPNY',
 'DB',
 'JMIA',
 'CVAC',
 'BNTX',
 'TRVG',
 'AFMD',
 'SAP',
 'POAHY',
 'ADDYY',
 'VWAGY',
 'MYTE',
 'IFRX',
 'BAYRY',
 'ALIZY',
 'DTEGY',
 'MOR',
 'RIG',
 'CS',
 'RLFTF',
 'RHHBY',
 'UBS',
 'CRSP',
 'CB',
 'LOGI',
 'STM',
 'NVS',
 'OBSV',
 'ABB',
 'TEL',
 'ACIU',
 'ALC',
 'QTNT',
 'NLSP',
 'GRMN',
 'EARS',
 'NSRGY',
 'SAN',
 'GRFS',
 'BBVA',
 'TEF',
 'GCTAY',
 'ICAGY',
 'IDEXY',
 'IBDRY',
 'ERIC',
 'VNE',
 'ALV',
 'SHIP',
 'SBLK',
 'DSX',
 'PXS',
 'TOPS',
 'GLOP',
 'GLBS',
 'DAC',
 'EGFEY',
 'ALBKY',
 'TNP',
 'ESEA',
 'GASS',
 'TEUFF',
 'CPLP',
 'ITRM',
 'MDT',
 'ENDP',
 'JCI',
 'STX',
 'NBRV',
 'AMRN',
 'ALKS',
 'ACN',
 'HZNP',
 'AON',
 'PRGO',
 'JAZZ',
 'ETN',
 'TT',
 'APTV',
 'PRTA',
 'ALLE',
 'STE',
 'AER',
 'SNMRY',
 'EIPAF',
 'ENLAY',
 'KLR',
 'E',
 'PRYMY',
 'RACE']

In [14]:
%%time
#RETRIEVE OHLCV DATA FOR Canadian ADRs
canadr_data=get_daily_ohlcv2(canada_adrs,4)

Wall time: 8.33 s